*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

:root{
    --cor0: #E5C20E;
    --cor1: #460100;
    --cor2: #e2e2e2;
}

.divisor{
    height: 15px;
    background-color: var(--cor1);
}

body{background-color: black;}

main{
    max-width: 1440px;
    margin: auto;
    color: var(--cor2);
}


/* Cabeçalho */

header{
    width: 100%;
    height: 85px;
    background-color: black;
    padding: 0 2%;
    position: fixed;
}
.header-content{
    max-width: 1200px; 
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.brand img{height: 85px;}

.header-content ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.header-content li{list-style: none;}
.header-content li+li{margin-left: 20px;}

header ul a{
    color: var(--cor0);
    text-decoration: none;
    font-size: 1.375rem; /* 22px */
    font-weight: bold;
    padding: 20px 15px;
}

.instagram a,
.whatsapp a{
    padding: 0;
}

.instagram img,
.whatsapp img{
    width: 30px;
}


/* HOME */

.home{
    height: 600px;
    padding-top: 40px;
    background-image: url("./img/backgrounds/home-bg.jpg");
    background-size: 100% unset;
    background-repeat: no-repeat;
    background-position: center center;
}
.home-banner-content{
    height: inherit;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.home-banner-content h1{
    font-size: 3rem; /* 48px */
    margin-bottom: 15px;
}
.home-banner-content p{
    max-width: 800px;
    font-size: 18px;
    font-style: italic;
}


/* CONTATO */

.contato{
    padding: 15px 0;
    background-color: var(--cor1);
}
.contato-content{
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
}
.contato-content ul{
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    flex: 1;
    justify-content: space-between;
    align-items: center;
}
.contato-content li{
    font-size: 22px;
    color: var(--cor0);
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo{margin-right: 4px;}


/* CHARCUTARIA */

.charcutaria{
    height: 260px;
    background-image: url("./img/backgrounds/charcutaria-oqeh.png");
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat;
}
.definicao{
    height: inherit;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.definicao h1{font-size: 3rem;}

.divisoria{
    border: 1px solid white;
    height: 130px;
    margin: 0 20px;
}
.definicao p{
    font-size: 20px;
    max-width: 550px;
}


/* INTRODUÇÃO DOS PRODUTOS */

.intro-produtos{
    background-image: url(img/backgrounds/intro-produto.jpg);
    background-size:  100%;
    background-position: center center;
    padding: 30px 0;
}
.produtos-content{
    max-width: 1200px;
    margin: auto;
    padding: 0 5%;
}
.produtos-content h1{
    text-align: center;
    color: var(--cor0);
    margin-bottom: 20px;
}
.produtos-content p{
    font-size: 18px;
    margin-bottom: 15px;
}


/* METODO DE COMPRA */

.metodo-compra{
    display: block;
    width: 280px;
    text-align: center;
    background-color: green;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    font-weight: bold;
}


/* GALERIA DE PRODUTOS */

.maturados, 
.defumados{
    background-image: url(img/backgrounds/wood-bg.png);
    padding: 30px 2%;
}
.produto-titulo{
    color: var(--cor0);
    text-align: center;
}
.brutus-produtos{
    max-width: 900px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.produto-item{
    max-width: 280px;
    height: 400px; 
    display: flex;
    flex-direction: column;
    border: 1px solid gray;
    background-color: rgba(0, 0, 0, 0.418);
    padding: 10px;
    align-items: center;
    margin-top: 30px;
    margin-left: 10px;
}
.produto-item h3{
    margin: 10px 0;
}
.produto-item img{  
    width: 230px;
    height: 200px;
}
.produto-item p{
    max-width: 300px;
    padding: 10px;
}


/* SOBRE */

.sobre{
    background-color: black;
    background-image: url(img/backgrounds/sobre-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center ;
    padding: 30px 5%;
}
.sobre-content{
    max-width: 1200px;
    margin: auto;

}
.sobre-content h1{
    color: var(--cor0);
    text-align: center;
    margin-bottom: 20px;
}
.sobre-content p{
    font-size: 18px;
    margin-bottom: 20px;
    line-height: 23px;
}
.valores{margin-top: 40px;}


/* FALE-CONOSCO */
.fale-conosco{
    background-image: url(img/backgrounds/background1.jpg);
    padding: 45px 2%;
}
.fale-conosco h1{
    font-size: 24px;
    text-align: center;
    margin-bottom: 45px;
    color: var(--cor0);
}
form{
    max-width: 840px;
    margin: auto;
    color: var(--cor0);
}
.formulario{
    display: grid;
    grid-template: 
        "nome      email" 74px
        "telefone  assunto" 74px
        "mensagem  mensagem" 195px
        "enviar    enviar" 60px 
        /  1fr       1fr
    ;
    column-gap:  5%;
    row-gap: 15px;
}

.nome{grid-area: nome;}
.email{grid-area: email;}
.telefone{grid-area: telefone;}
.assunto{grid-area: assunto;}
.mensagem{grid-area: mensagem;}


.form-input{
    display: flex;
    flex-direction: column;
}
.form-input input{
    max-width: 395px ;
    padding: 15px;
    border-radius: 10px;
    padding-left: 10px;
    background-color: #E9E7E7;
    outline: none;
}
.form-input textarea{
    max-width: 840px;
    max-height: 170px;
    padding: 15px;
    border-radius: 10px;
    padding-left: 10px;
    background-color: #E9E7E7;
    outline: none;
}
.botao{
    grid-area: enviar;
    border-radius: 30px;
    background-color: var(--cor1);
    outline: none;
    border: none;
    font-size: 30px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}
.botao:hover{background-color: #6b0200;}


/* RODAPÉ */

footer{
    background-color: black;
    background-image: url(img/logos/logo-footer.png);
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position-x: center;
    padding: 30px 20px;
}
footer p{
    text-align: center;
    color: var(--cor0);
    font-size: 0.875rem;
}
.footer{
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 1200px;
    justify-content: space-between;
    padding: 20px 0;
}
.footer h1{
    color: var(--cor0);
    font-size: 1.625rem;
    margin-bottom: 10px;
}
.footer ul li{
    list-style-position: inside;
    color: var(--cor0);
    margin-bottom: 3px;
}
.footer a{
    text-decoration: none;
    color: var(--cor0);
}
.footer-item{
    margin-right: 20px;
    margin-bottom: 20px;
}
.redes-sociais ul{list-style: none;}


/* MEDIAQUERIES */

@media screen and (max-width: 940px)
{
    .contato-content ul{flex-direction: column;}

    .contato-content li+li{margin-top: 10px;}
}


@media screen and (max-width: 895px)
{
    .charcutaria{height: 230px;}

    .divisoria{display: none;}

    .definicao{flex-direction: column;}

    .definicao h1{margin-bottom: 25px;}

    .definicao p{
        max-width: 700px;
        font-size: 18px;
        text-align: center;
    }
}


@media screen and (max-width: 814px)
{
    .metodo-compra{margin-top: 30px;}
}


@media screen and (max-width: 750px)
{
    .definicao{padding: 0 2%;}

    .definicao h1{margin-bottom: 20px;}

    .intro-produtos{
        background-size:  100% 100%;
        background-position: top center;
    }
}


@media screen and (max-width: 600px)
{    
    .formulario{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .form-input{
        width: 395px;
        min-width: 250px;
    }
    .botao{
        width: 395px;
        min-width: 250px;
        font-size: 24px;
        padding: 10px;
    }
}


@media screen and (max-width: 500px)
{
    .footer{flex-direction: column;}

    .footer ul{margin-bottom: 15px;}
}
